(in-package :papergraph)

;; When set to `t` the layout is hierarchial `dot`. Default is `fdp` spring layout.
(setf layered-view nil)

;; Example cluster specification from tags in bibtex `keywords=` entries.
;; For each entry, the first one met takes effect.
(setf clusters '(("md" . (:color ".3 .3 1.0" :label "Molecular Dynamics"))
                 ("cs" . (:color ".5 .3 1.0" :label "Computer Science"))))

;; Draw only entries that belong to any of the clusters specified above:
(setf clusters-only t)

;; If the previous option is `nil`, draw "unclustered" entries with this color:
(setf unclustered-color ".7 .3 1.0")

;; Edge color for unclustered entries:
(setf edge-color "magenta")

;; Number of parallel threads used to query metadata from CrossRef:
(setf num-api-threads 8)

;; List of paths to input bibtex entry-files:
(setf ref-files '("/app/refs.bib"))

;; Output directory:
(setf out-dir #P"/app")

;; Intermediate Graphviz .dot-file name (.svg file will have the same):
(setf out-file "papergraph.dot")

;; automatically show graph in specified browser when set:
;; (setf system-img-browser "eom")  ; off by default inside the container
